			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
						<div class="row fullscreen align-items-center justify-content-start" style="height: 915px;">
							<div class="banner-content col-lg-9 col-md-12">
								<h1>
									Your Donation <br>
									is Others Inspiration
								</h1>
								<a href="#donate" class="head-btn btn text-uppercase">Donate Now</a>
							</div>
						</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start callto Area -->
			<section class="callto-area relative">
				<div class="container">
					<div class="row d-flex callto-wrap justify-content-between pt-40 pb-40">
						<h3 class="text-white">Please Help them and Donate now</h3>
						<a href="#" class="head-btn head-btn2 btn text-uppercase">Donate Now</a>
					</div>
				</div>
			</section>
			<!-- End callto Area -->


			<!-- Start project Area -->
			<section class="project-area section-gap" id="project">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-80 header-text">
							<h1>Waiting for Help</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> labore  et dolore magna aliqua.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 project-wrap">
							<div class="single-project">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="/assets/img/p1.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<a href="#" class="head-btn btn text-uppercase">Donate Now</a>
								      	</div>
								    </a>
								 </div>
							</div>
							<div class="details">
								<a href="#"><h2>Easy Flight Search</h2></a>
						  		<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.</p>
						  		<a class="text-uppercase" href="#">read more</a>
							</div>

						</div>
						<div class="col-lg-4 col-md-4 project-wrap">
							<div class="single-project">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="/assets/img/p2.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<a href="#" class="head-btn btn text-uppercase">Donate Now</a>
								      	</div>
								    </a>
								 </div>
							</div>
							<div class="details">
								<a href="#"><h2>Easy Flight Search</h2></a>
						  		<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.</p>
						  		<a class="text-uppercase" href="#">read more</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 project-wrap">
							<div class="single-project">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="/assets/img/p3.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<a href="#" class="head-btn btn text-uppercase">Donate Now</a>
								      	</div>
								    </a>
								 </div>
							</div>
							<div class="details">
								<a href="#"><h2>Easy Flight Search</h2></a>
						  		<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.</p>
						  		<a class="text-uppercase" href="#">read more</a>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- End project Area -->

			<!-- Start about Area -->
			<section class="about-area" id="about">
				<div class="container-fluid">
					<div class="row d-flex justify-content-end align-items-center">
						<div class="col-lg-6 col-md-12 about-left no-padding">
							<img class="img-fluid" src="/assets/img/about-img.jpg" alt="">
						</div>
						<div class="col-lg-6 col-md-12 about-right">
							<h1>A very Lovely Welcome <br>
							to our Company</h1>
							<p>
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.
							</p>
							<button class="primary-btn mt-20 text-uppercase ">learn more<span class="lnr lnr-arrow-right"></span></button>
						</div>
					</div>
				</div>
			</section>
			<!-- End about Area -->

			<!-- Start volunteer Area -->
			<section class="volunteer-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-80 header-text">
							<h1>Our Volunteers</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> labore  et dolore magna aliqua.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-vol">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="/assets/img/v1.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<h4>Andy Florence</h4>
								      		<p>
								      			inappropriate behavior
								      		</p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-vol">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="/assets/img/v2.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<h4>Andy Florence</h4>
								      		<p>
								      			inappropriate behavior
								      		</p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-vol">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="/assets/img/v3.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<h4>Andy Florence</h4>
								      		<p>
								      			inappropriate behavior
								      		</p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-vol">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="/assets/img/v4.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
								      		<h4>Andy Florence</h4>
								      		<p>
								      			inappropriate behavior
								      		</p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- End volunteer Area -->


			<!-- Start donate Area -->
			<section class="donate-area relative section-gap" id="donate">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex justify-content-end">
						<div class="col-lg-6 col-sm-12 pb-80 header-text">
							<h1>Donate Now</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore  et dolore magna aliqua.
							</p>
						</div>
					</div>
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 contact-left">
							<div class="single-info">
								<h4>Divided Evenly</h4>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” <br> women face higher conduct women face higher conduct.
								</p>
							</div>
							<div class="single-info">
								<h4>Transperancy All the Way</h4>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” <br> women face higher conduct women face higher conduct.
								</p>
							</div>
							<div class="single-info">
								<h4>Trustworthy</h4>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” <br> women face higher conduct women face higher conduct.
								</p>
							</div>
						</div>
						<div class="col-lg-6 contact-right">
							<form class="booking-form" id="myForm" action="donate.php">
								 	<div class="row">
								 		<div class="col-lg-12 d-flex flex-column">
							 				<select name="type" class="app-select form-control" required>
												<option data-display="Project you want to donate">Project you want to donate</option>
												<option value="1">Donate type 1</option>
												<option value="2">Donate type 2</option>
												<option value="3">Donate type 3</option>
											</select>
								 		</div>
							 			<div class="col-lg-6 d-flex flex-column">
											<input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="form-control mt-20" required="" type="text" required>
										</div>
										<div class="col-lg-6 d-flex flex-column">
											<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="form-control mt-20" required="" type="email">
										</div>
										<div class="col-lg-12 d-flex flex-column">
											<input name="amound" placeholder="Donation amount (USD)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Donation amount (USD)'" class="form-control mt-20" required="" type="text">

											<textarea class="form-control mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
										</div>

										<div class="col-lg-12 d-flex justify-content-end send-btn">
											<button class="submit-btn primary-btn mt-20 text-uppercase ">donate<span class="lnr lnr-arrow-right"></span></button>
										</div>

										<div class="alert-msg"></div>
									</div>
					  		</form>
					  		<p class="payment-method">
					  			We Accept :   <img src="assets/img/payment.png" alt="">
					  		</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End donate Area -->